*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left{
    display: flex;
    align-items: center;
}

.left > ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    margin-left: 20px;
}



.right{
       display: flex;
       align-items: center;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    margin-right: 50px;
    border-radius: 10px;
    height: 40px;
}

.search > input{
    border: none;
    outline: none;
}

i{
    font-size: x-large;
}

nav{
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

header{
    height: 10vh;
    background-color: aqua;
}